@import url("../../global/index.css");
@import url("../../global/input-group.css");

.header {
  width: 100vw;
  min-height: 74px;
  background-color: var(--primary-color);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
}

.header__nav {
  display: flex;
  margin: 25px 50px;
}

.header__link {
  padding: 0;
  text-indent: 0;
  list-style-type: none;
  color: var(--font-color-contrast-primary);
  margin: 5px 10px;
}

.header__link-logout {
  color: var(--font-color-error);
}

.back {
  position: fixed;
  left: 0;
  top: 0;
  margin-top: 8vh;
  margin-left: 8vw;
  font-size: 1.5rem;
}
