.title {
  font-family: var(--header-font);
  text-align: center;
  margin: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}

.form__field {
  min-width: 500px;
  margin: 15px 0;
}

.form__submit {
  min-width: 500px;
  margin-top: 15px;
}
