/* stylelint-disable selector-pseudo-element-no-unknown */
::ng-deep .mat-paginator-container {
  min-width: 1000px;
  justify-content: flex-start !important;
  margin-bottom: 20px;
}

::ng-deep .cdk-overlay-container,
::ng-deep .cdk-global-overlay-wrapper {
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  min-width: 1000px;
}

::ng-deep .cdk-overlay-pane {
  background-color: var(--background-color-fade);
  position: absolute;
  pointer-events: auto;
  box-sizing: border-box;
  display: flex;
}

::ng-deep .mat-paginator-page-size-select {
  min-width: 90px;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: transparent;
}

::ng-deep .mat-select-value {
  font-weight: bold;
}
