@import url("../../global/index.css");

.title {
  color: var(--font-color-heading-1);
  font-size: 4rem;
  font-family: var(--header-font);
  letter-spacing: 0.5rem;
  margin-bottom: 40px;
}

.header {
  width: 100vw;
  min-height: 74px;
  background-color: var(--primary-color);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
}

.header__nav {
  display: flex;
  margin: 25px 50px;
}

.header__link {
  padding: 0;
  text-indent: 0;
  list-style-type: none;
  color: var(--font-color-contrast-primary);
  margin: 5px 10px;
}

.header__link-logout {
  color: var(--error-font-color);
}

.detail {
  display: flex;
}

.detail__media {
  width: 70%;
}

.detail__media-image {
  width: 100%;
}

.detail__media-video {
  width: 100%;
  min-height: 300px;
}

.detail__information-label {
  font-weight: bold;
}
