<h1 class="title">Anime collection</h1>

<ng-container *ngIf="queryParamsUpdated$ | async as queryParams">
  <camp-pagination
    [pageIndex]="queryParams.page"
    [pageSize]="queryParams.limit"
    [length]="(paginationAnime$ | async)?.count"
    (paginationEvent)="handlePaginationChange($event)"
    class="table__pagination"
  ></camp-pagination>
</ng-container>

<mat-form-field appearance="fill" class="type">
  <mat-label class="type__label">Type</mat-label>
  <mat-select [formControl]="filterControl" disableRipple multiple>
    <mat-option
      *ngFor="let option of filterTypes"
      [value]="option"
      trackBy="trackByTypeName"
      >{{ option }}</mat-option
    >
  </mat-select>
</mat-form-field>

<form class="search">
  <mat-form-field appearance="fill" class="search__form">
    <mat-label class="search__label">Search your anime!</mat-label>
    <input
      class="search__input"
      matInput
      placeholder="Conan, Doraemon, ..."
      type="search"
      [formControl]="searchControl"
    />
  </mat-form-field>
</form>

<ng-container *ngIf="paginationAnime$ | async as animeList; else loading">
  <table
    aria-label="anime"
    aria-describedby="anime-table"
    *ngIf="(isAnimeLoading$ | async) === false; else loading"
    mat-table
    fixedLayout
    [dataSource]="animeList.results"
    class="table mat-elevation-z8"
    matSort
    (matSortChange)="handleSortChange($event)"
    [matSortActive]="(queryParamsUpdated$ | async)?.sorting ?? ''"
    [matSortDirection]="(sortDirection$ | async) ?? ''"
  >
    <ng-container matColumnDef="Image">
      <th class="table__head-title" mat-header-cell *matHeaderCellDef>Image</th>
      <td mat-cell *matCellDef="let anime">
        <img class="table__row-image" src="{{ anime.image }}" alt="" />
      </td>
    </ng-container>

    <ng-container matColumnDef="Title English">
      <th
        class="table__head-title"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header="title_eng"
      >
        Title in English
      </th>
      <td mat-cell *matCellDef="let anime">
        {{ anime.titleEnglish | placeholder }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Title Japanese">
      <th
        class="table__head-title"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header="title_jap"
      >
        Title in Japanese
      </th>
      <td mat-cell *matCellDef="let anime">
        {{ anime.titleJapanese | placeholder }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Aired start">
      <th
        class="table__head-title"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header="aired__startswith"
      >
        Aired day
      </th>
      <td mat-cell *matCellDef="let anime">
        {{ anime.aired.start | date: "short" | placeholder }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Type">
      <th class="table__head-title" mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let anime">{{ anime.type | placeholder }}</td>
    </ng-container>

    <ng-container matColumnDef="Status">
      <th
        class="table__head-title"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header="status"
      >
        Status
      </th>
      <td mat-cell *matCellDef="let anime">{{ anime.status | placeholder }}</td>
    </ng-container>

    <ng-container matColumnDef="Option">
      <th class="table__head-option" mat-header-cell *matHeaderCellDef>Option</th>
      <td mat-cell *matCellDef="let anime">
        <a mat-raised-button [routerLink]="'edit/' + anime.id" (click)="onEdit($event)">Edit</a>
        <button type="button" mat-raised-button color="warn" (click)="onDelete($event, anime.id)">Delete</button>
      </td>
    </ng-container>

    <tr class="table__head" mat-header-row *matHeaderRowDef="columnTitles"></tr>
    <tr
      class="table__row"
      mat-row
      *matRowDef="let row; columns: columnTitles"
      [routerLink]="['detail', row.id]"
    ></tr>
  </table>
</ng-container>

<ng-template #loading>
  <div class="loading">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
