.table {
  margin-top: 50px;
  width: 100%;
}

.title {
  text-align: center;
  color: var(--font-color-heading-1);
  font-weight: lighter;
  font-size: 4rem;
  font-family: var(--header-font);
  letter-spacing: 0.5rem;
  margin-bottom: 40px;
}

.search__form,
.type {
  min-width: 40%;
}

.table__row {
  background-color: var(--background-color-light);
  cursor: pointer;
}

.table__row:hover {
  background-color: var(--background-color);
}

.table__head {
  border: 1px solid var(--border-color);
  font-size: 1.3rem;
  background-color: var(--primary-color);
}

.table__head-title {
  color: var(--font-color-contrast-primary);
  padding: 20px;
  text-align: start;
}

.table__head-filter {
  padding: 0;
  color: white;
}

.table__row-image {
  max-width: 200px;
  max-height: 200px;
}

.loading {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
