<h1 class="title">Log in</h1>

<form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()" errorTailor>
  <ng-template let-error let-text="text" #tpl>
    <span class="control-error">{{ text }}</span>
  </ng-template>

  <mat-form-field class="form__field" appearance="fill">
    <mat-label>Email</mat-label>
    <input
      type="email"
      matInput
      placeholder="Ex. pat@example.com"
      formControlName="email"
      [controlErrorsTpl]="tpl"
    />
  </mat-form-field>
  <mat-form-field class="form__field" appearance="fill">
    <mat-label>Password</mat-label>
    <input
      type="password"
      matInput
      placeholder="Type your password."
      formControlName="password"
      [controlErrorsTpl]="tpl"
    />
  </mat-form-field>
  <mat-error *ngIf="loginError$ | async as error">
    {{ error }}
  </mat-error>
  <button
    class="form__submit"
    type="submit"
    mat-flat-button
    color="primary"
    [disabled]="loginForm.invalid"
  >
    Log in
  </button>
</form>
