.title {
  color: var(--font-color-heading-1);
  font-size: 4rem;
  font-family: var(--header-font);
  letter-spacing: 0.5rem;
  margin-top: 30px;
  text-align: center;
}

.detail {
  margin-top: 50px;
  display: flex;
}

.detail__media {
  padding: 20px 30px;
  flex: 1;
}

.detail__media--image {
  width: 100%;
  transition: all 0.2s ease;
  cursor: pointer;
}

.detail__media--video {
  width: 100%;
  min-height: 300px;
}

.detail__information {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
}

.detail__information--label {
  margin-top: 10px;
}

.detail__information--title {
  font-weight: bold;
}
