<a [routerLink]="['../..']" routerLinkActive="router-link-active"  mat-raised-button color="warn" type="button" class="back">Back</a>
<h1 class="title">Anime detail</h1>

<section class="detail" *ngIf="detail$ | async as detail">
  <div class="detail__media">
    <img (click)="showFullSizeImage(detail.image)" alt="" class="detail__media--image" [src]="detail.image" />
    <iframe title="Trailer youtube" *ngIf="detail.trailerYoutube" class="detail__media--video" [src]="'https://www.youtube.com/embed/' + detail.trailerYoutube | safe"></iframe>
  </div>
  <div class="detail__information">
    <label class="detail__label">
      <span class="detail__title">English title: </span>
      <span class="detail__text">{{detail.titleEnglish}}</span>
    </label>
    <label class="detail__label">
      <span class="detail__title">Japanese title: </span>
      <span class="detail__text">{{detail.titleJapanese}}</span>
    </label>
    <label class="detail__label">
      <span class="detail__title">Type: </span>
      <span class="detail__text">{{detail.type}}</span>
    </label>
    <label class="detail__label">
      <span class="detail__title">Status: </span>
      <span class="detail__text">{{detail.status}}</span>
    </label>
    <label class="detail__label">
      <span class="detail__title">Airing: </span>
      <span class="detail__text">{{detail.airing ? 'Yes' : 'No'}}</span>
    </label>
    <label class="detail__label">
      <span class="detail__title">Aired start date: </span>
      <span class="detail__text">{{detail.aired.start | date:'short'}}</span>
    </label>
    <label class="detail__label">
      <span class="detail__title">Aired end date: </span>
      <span class="detail__text">{{detail.aired.end | date:'short'}}</span>
    </label>
    <label class="detail__label">
      <span class="detail__title">Synopsis: </span>
      <span class="detail__text">{{detail.synopsis}}</span>
    </label>
    <label class="detail__label">
      <span class="detail__title">Genres: </span>
      <span class="detail__text">{{detail.genresData | pluck:'name'}}</span>
    </label>
  </div>
</section>

<div class="action" *ngIf="animeId$ | async as id">
  <a class="action__option" mat-raised-button [routerLink]="['../../edit/', id]">Edit</a>
  <button class="action__option" type="button" mat-raised-button color="warn" (click)="onDeleteAnime($event, id)">Delete</button>
</div>
