:root {
  /* Font family */
  --header-font: arial, helvetica, sans-serif;

  /* Primary colors. */
  --primary-color: #2458a2;
  --primary-light-color: #5584c5;
  --primary-dark-color: #032656;
  --primary-contrast-color: #fff;
  --primary-dark-contrast-color: #fff;
  --primary-light-contrast-color: #fff;

  /* Font color. */
  --font-color-error: #f00;
  --font-color-light-error: #f66d6d;
  --font-color-secondary: #bbb;
  --font-color-contrast-primary: #fff;
  --font-color-primary: #000;

  /* Background color. */
  --dark-background-color: #ccc;
  --dark-background-color-2: #bbb;
  --light-background-color: #fff;
  --background-color: #ddd;

  /* Border color. */
  --border-color: #000;

  /* Heading color. */
  --heading-color-1: #1229a7;

  /* Button color */
  --primary-button-color: #748da6;
  --primary-button-color-light: #8d9fb1;
}
