:root {
  /* Font family */
  --header-font: arial, helvetica, sans-serif;

  /* Primary color. */
  --primary-color: #2458a2;
  --primary-light-color: #5584c5;
  --primary-dark-color: #032656;
  --primary-contrast-color: #fff;
  --primary-dark-contrast-color: #fff;
  --primary-light-contrast-color: #fff;

  /* Background color. */
  --dark-background-color: #ccc;
  --light-background-color: #fff;
  --background-color: #ddd;

  /* Border color. */
  --border-color: #000;

  /* Header color. */
  --font-color-heading-1: #1229a7;

  /** Font color */
  --font-color-contrast-primary: #fff;
  --font-color-primary: #000;
}
