.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
  padding: 0 30px;
}

.header__nav {
  display: flex;
}

.header__link {
  color: var(--font-color-contrast-primary);
  margin: 0 10px;
}

.header__link--logout {
  color: var(--font-color-error);
}
