.header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: var(--primary-color);
  box-sizing: border-box;
  padding: 0 50px;
}

.header__nav {
  display: flex;
}

.header__link {
  color: var(--font-color-contrast-primary);
  margin: 0 10px;
}

.header__link--logout {
  color: var(--font-color-error);
}
