<table class="table">
  <caption class="table__title">Anime collection</caption>
  <camp-pagination (paginationEvent)="handlePaginationChange($event)" class="table__pagination" [length]="(paginationAnime$ | async)?.count"></camp-pagination>
  <tr class="table__head">
    <th *ngFor="let title of columnTitles" class="table__head-title">{{ title }}</th>
  </tr>
  <tr class="table__row" *ngFor="let anime of (paginationAnime$ | async)?.results">
    <td><img class="table__row-image" alt="" [src]="anime.image"/></td>
    <td>{{ anime.titleEnglish }}</td>
    <td>{{ anime.titleJapanese }}</td>
    <td>{{ anime.aired.start.toLocaleString() }}</td>
    <td>{{ anime.type }}</td>
    <td>{{ anime.status }}</td>
  </tr>
</table>
