<h1 class="title">Register</h1>

<form
  class="form"
  [formGroup]="registerForm"
  (ngSubmit)="onSubmit()"
  errorTailor
>
  <ng-template let-error let-text="text" #tpl>
    <span class="control-error">{{ text }}</span>
  </ng-template>

  <mat-form-field class="form__field" appearance="fill">
    <mat-label class="form__label">Email</mat-label>
    <input
      autocomplete="true"
      class="form__input"
      type="email"
      matInput
      placeholder="Ex. pat@example.com"
      formControlName="email"
      [controlErrorsTpl]="tpl"
      [controlErrors]="{invalidData: ((errorList$ | async)?.['email'] ?? []).join('\n')}"
    />
    <!-- <mat-error
      *ngFor="let errorMessage of (errorList$ | async)?.['email'] ?? []"
    >
      {{ errorMessage }}
    </mat-error> -->
  </mat-form-field>

  <mat-form-field class="form__field" appearance="fill">
    <mat-label class="form__label">Last name</mat-label>
    <input
      autocomplete="true"
      class="form__input"
      type="text"
      matInput
      placeholder="Cristiano"
      formControlName="lastName"
      [controlErrorsTpl]="tpl"
    />
    <mat-error
      *ngFor="let errorMessage of (errorList$ | async)?.['last_name'] ?? []"
    >
      {{ errorMessage }}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="form__field" appearance="fill">
    <mat-label class="form__label">First name</mat-label>
    <input
      autocomplete="true"
      class="form__input"
      type="text"
      matInput
      placeholder="Ronaldo"
      formControlName="firstName"
      [controlErrorsTpl]="tpl"
    />
    <mat-error
      *ngFor="let errorMessage of (errorList$ | async)?.['first_name'] ?? []"
    >
      {{ errorMessage }}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="form__field" appearance="fill">
    <mat-label class="form__label">Password</mat-label>
    <input
      autocomplete="true"
      class="form__input"
      type="password"
      matInput
      placeholder="Type your password."
      [controlErrorsTpl]="tpl"
      [controlErrors]="{invalidData: ((errorList$ | async)?.['password'] ?? []).join('\n')}"
      formControlName="password"
    />
    <!-- <mat-error
      *ngFor="let errorMessage of (errorList$ | async)?.['password'] ?? []"
    >
      {{ errorMessage }}
    </mat-error> -->
  </mat-form-field>

  <mat-form-field class="form__field" appearance="fill">
    <mat-label class="form__label">Confirm password</mat-label>
    <input
      autocomplete="true"
      class="form__input"
      type="password"
      matInput
      placeholder="Confirm your password."
      formControlName="confirmPassword"
      [controlErrorsTpl]="tpl"
    />
  </mat-form-field>

  <button
    class="form__submit"
    type="submit"
    mat-flat-button
    color="primary"
    [disabled]="registerForm.invalid"
  >
    Register
  </button>
</form>
